{% extends "template/syksy2016/basetemplate.html" %}

{% block title %} OKM/{{ paatos.diaari }} {% endblock %}

{% block header %}

  <div id="page-header">

    <div id="page-header-left">
      <p><img src="{{ basePath }}/images/OKM_leijona_BW_15mm.svg" style="width:40%;"><p>
      <p>{{ koulutustehtava.jarjestajaNimi | translated(language)  }}<br/>
      {{ koulutustehtava.jarjestajaKatuosoite }}<br/>
      {{ koulutustehtava.jarjestajaPostiNro }} {{ koulutustehtava.jarjestajaToimipaikka }}</p>
    </div>

    <div id="page-header-center">
      <h4>Päätös</h4>
      {{ paatos.paatospvm | date("dd.MM.yyyy") }}
    </div>

    <div id="page-header-right">
      OKM/{{ paatos.diaari }}
    </div>

  </div>

  <div id="diaari-placeholder">
    OKM/{{ paatos.diaari }}
  </div>

  <div id="page-footer">
	<div id="page-footer-left">
	Opetus- ja kulttuuriministeriö<br />
	Meritullinkatu 10, Helsinki | PL 29, 00023 Valtioneuvosto<br />
	Puh. 0295 3 30004 | kirjaamo@minedu.fi
	</div>
	<div id="page-footer-center">
	Undervisnings- och kulturministeriet<br />
	Sjötullsgatan 10, Helsingfors | PL 29, 00023 Statsrådet<br />
	Tfn 0295 3 30004 | kirjaamo@minedu.fi
	</div>
	<div id="page-footer-right">
	www.minedu.fi<br />
	Y-tunnus 0245872-8<br />
	FO-nummer 0245872-8
	</div>
  </div>


{% endblock %}

{% block content %}

  {% include 'template/syksy2016/paatos/paatossisalto.html' %}
  {% include 'template/syksy2016/koulutustehtava.html' %}
  {% include 'template/syksy2016/kuljettajakoulutus.html' %}

{% endblock %}
