<html>
    <head>
        <title>Luvat</title>
    </head>
    <style>
        .links {
            padding: 10px 0;
        }
        table {
            border: none;
        }
        table tr:nth-child(even) {
            background: #eee
        }
        table tr:nth-child(odd) {
            background: #fff
        }
        .header td {
            font-weight: bold;
        }
        td {
            padding-right: 20px;
        }
    </style>
    <body>
        <div id="wrapper">
            <table border="0">
                <tr class="header">
                    <td>Diaarinumero</td>
                    <td>Järjestäjä</td>
                    <td>Esittelijä</td>
                    <td>Maakunta</td>
                </tr>
                {% for lupa in luvat | sortLupa(["maakunta", "esittelija", "diaarinumero"]) %}
                    <tr>
                        <td>
                            <a href="/api/pdf/{{ lupa.diaarinumero }}">{{ lupa.diaarinumero }}</a>
                        </td>
                        <td>{{ lupa.jarjestaja.nimi | translated }}</td>
                        <td>{{ lupa.meta | fieldvalue("esittelija") }}</td>
                        <td>
                            {% if lupa.jarjestaja.maakuntaKoodi is notBlank %}
                                {{ lupa.jarjestaja.maakuntaKoodi.nimi | translated }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>