<div id="diaari-placeholder-left-top">
    {{ jarjestaja.nimi | translated(language) }}
</div>
<div id="diaari-placeholder-left-bottom">
    {{jarjestaja.ytunnus}}
</div>
<div id="diaari-placeholder">
    PÄÄTÖS{% if lupa.lupatila.tunniste == 'LUONNOS' %}LUONNOS{% endif %}
</div>
<div id="diaari-placeholder-right-top">
    {% if lupa.asianumero is empty %}
        OKM/{{ lupa.diaarinumero }}
    {% else %}
        {{ lupa.asianumero }}
    {% endif %}
</div>
<div id="diaari-placeholder-right-bottom">
    {{ lupa.paatospvm | toDate | date("d.M.yyyy") }}
</div>

<div id="diaari-placeholder-pagecounter">Sivu </div>