<div class="if">
    {% if maaraykset is notBlank %}
        <div class="tietoa">
            Koulutuksen järjestäjän on annettava opetusta {{ "seuraavalla opetuskielellä|seuraavilla opetuskielillä" | wording }}:
        </div>
        <div class="maaraykset sisennys">
            {% for maarays in maaraykset | sortMaaraykset("koodiarvo") %}
                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>