<div class="if">
    {% if maaraykset is notBlank %}
        <div class="tietoa">
            Koulutuksen järjestäjällä on oikeus myöntää seuraavia tutkintoja ja antaa niihin tutkintokoulutusta:
        </div>

        {% for koodiarvo in ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "99"] %}
            {% include fromDefault("maaraykset_koulutusala") with
                { "koulutusalaKoodi": maaraykset | ylakoodi("isced2011koulutusalataso1_" + koodiarvo),
                  "maaraykset": maaraykset | filterMaarays("ylakoodi:isced2011koulutusalataso1_" + koodiarvo)
                }
            %}
        {% endfor %}

        <div class="tietoa">
            Koulutuksen järjestäjä voi järjestää myös em. tutkintoihin liittyvää ammatillisesta koulutuksesta annetun lain
            (531/2017) 8 §:n 1 kohdassa tarkoitettua ammatillista osaamista syventävää tai täydentävää koulutusta.
        </div>
    {% endif %}
</div>