<div class="if">
    {% if maaraykset is notBlank %}

        <!-- Laajennettu oppisopimuskoulutuksen järjestämistehtävä -->
        {% include fromDefault("maaraykset_laajennettuoppisopimuskoulutus") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:1"]) }
        %}

        <!-- Vaativan erityisen tuen tehtävä  -->
        {% include fromDefault("maaraykset_vaativatuki") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:2|3|12"]) }
        %}

        <!-- Sisäoppilaitosmuotoinen koulutus  -->
        {% include fromDefault("maaraykset_sisaoppilaitos") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:4"]) }
        %}

        <!-- Vankilaopetus  -->
        {% include fromDefault("maaraykset_vankilaopetus") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:5"]) }
        %}

        <!-- Urheilijat  -->
        {% include fromDefault("maaraykset_urheilijat") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:6"]) }
        %}

        <!-- Kokeilut  -->
        {% include fromDefault("maaraykset_kokeilut") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:7"]) }
        %}

        <!-- Yhteistyösopimukset  -->
        {% include fromDefault("maaraykset_yhteistyosopimukset") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:8"]) }
        %}

        <!-- Yhteistyö musiikkialan koulutuksen järjestämisessä  -->
        {% include fromDefault("maaraykset_yhteistyomusiikki") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:10"]) }
        %}

        <!-- Yhteistyö liikunta-alan koulutuksen järjestämisessä  -->
        {% include fromDefault("maaraykset_yhteistyoliikunta") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:11"]) }
        %}

        <!-- Selvitys toimintaedellytyksistä  -->
        {% include fromDefault("maaraykset_toimintaedellytys") with
            { "maaraykset": maaraykset | filterMaarays(["koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat", "koodiarvo:9"]) }
        %}

    {% else %}
        <div class="tietoa">
            Koulutuksen järjestäjälle ei tässä järjestämisluvassa määrätä muita oikeuksia, velvollisuuksia, ehtoja tai tehtäviä.
        </div>
    {% endif %}
</div>