<div class="if">
    {% if maaraykset is notBlank %}
        <div class="tietoa">
            Utöver ovannämnda undervisningsspråk är examensspråket därtill {{ "fi::finska|sv::svenska|en::engelska|ru::ryska" | pick(kieli) }} i följande examina:
        </div>
        <div class="maaraykset sisennys">
            {% for maarays in maaraykset | sortMaarays("koodiarvo") %}
                <div class="loop {{ maarays | htmlClass }}">
                    <span class="data">{{ maarays.koodi.koodiArvo }} {{ maarays.koodi.nimi | translated }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>