<div class="tietoa">
    {{[ "00::Utbildningsanordnaren har ingen regional skyldighet att ordna examina och utbildning. Utbildningsanordnaren får ordna examina och utbildning i hela Finland med undantag för landskapet Åland.",
        "01::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande kommun:",
        "02::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande kommuner:",
        "10::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap:",
        "11::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap och kommun:",
        "12::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap och kommuner:",
        "20::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap:",
        "21::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap och kommun:",
        "22::Utbildningsanordnaren är skyldig att ordna examina och utbildning i första hand för kompetens- och utbildningsbehovet i följande landskap och kommuner:",
        "33::Utbildningsanordnaren är skyldig att ordna examina och utbildning för kompetens- och utbildningsbehovet i hela landet med undantag för landskapet Åland."
    ]| pick(maaraykset | toimintaAlueArvo) }}
</div>

<!-- Maakunnat -->
{% include fromDefault("maaraykset_toimintaalue") with
    { "maaraykset": maaraykset | filterMaarays("koodisto:maakunta") }
%}

<!-- Kunnat -->
{% include fromDefault("maaraykset_toimintaalue") with
    { "maaraykset": maaraykset | filterMaarays("koodisto:kunta") }
%}

{% if maaraykset | toimintaAlueArvo is not any(["00", "33"]) %}
    <div class="tietoa">
        Examina och utbildning får därtill ordnas även på annat håll i Finland, med undantag för landskapet Åland.
    </div>
{% endif %}
