<div class="if">
    {% if maaraykset is notBlank %}
        <div class="tietoa">
            Koulutuksen järjestäjällä on oikeus järjestää seuraavaa valmentavaa koulutusta:
        </div>
        <div class="maaraykset">
            {% for maarays in maaraykset %}
                <div class="loop sisennys {{ maarays | htmlClass }}">
                    <span class="data">{{maarays.koodiarvo}} {{ maarays.koodi.nimi | translated }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>