{% if maaraykset1 is notBlank or maaraykset2 is notBlank %}
    <div class="tietoa">
        {% if maaraykset1.size() >= 1 and maaraykset2.size() >= 1 %}
            Enligt bilagan till förordningen om ändring av examensstrukturen inom yrkesutbildningen (137/2017) ändras namnen på en del av ovannämnda examina den 1 augusti 2018 och en del den 1 januari 2019.
        {% elseif maaraykset1.size() >= 1 and maaraykset2.isEmpty() %}
            Enligt bilagan till förordningen om ändring av examensstrukturen inom yrkesutbildningen (137/2017) ändras namnen på en del av ovannämnda examina den 1 augusti 2018.
        {% elseif maaraykset1.isEmpty() and maaraykset2.size() >= 1 %}
            Enligt bilagan till förordningen om ändring av examensstrukturen inom yrkesutbildningen (137/2017) ändras namnen på en del av ovannämnda examina den 1 januari 2019.
        {% endif %}
    </div>
{% endif %}
