{% if maaraykset is notBlank %}
    <div class="maaraystyyppiotsikko">{{ otsikko }}</div>

    <!-- Oikeus -->
    {% include fromDefault("maaraykset_koulutus") with
        { "maaraykset": maaraykset | filterMaarays("tyyppi:oikeus") }
    %}
    <!-- Velvoite -->
    {% include fromDefault("maaraykset_koulutus") with
        { "maaraykset": maaraykset | filterMaarays("tyyppi:velvoite") }
    %}
    <!-- Rajoite -->
    {% include fromDefault("maaraykset_koulutus") with
        { "maaraykset": maaraykset | filterMaarays("tyyppi:rajoite") }
    %}
{% endif %}
