{% if maaraykset is notBlank %}
    <div class="tietoa">
        {{ otsikko | wording }}:
    </div>
    <div class="maaraykset sisennys2">
        {% for maarays in maaraykset | sortMaaraykset(["koodisto", "koodiarvo"]) %}
            <div class="loop {{ maarays.tyyppi }}">
                <span class="data cell-wide">{{ maarays.koodi.nimi | translated }}</span>
                <span class="cell">
                    <span class="if">
                        {{ "vähintään|enintään" | wording(maarays.isMaaraystyyppi("oikeus")) }}
                    </span>
                    <span class="data">{{ maarays.arvo | number }}</span> opiskelijavuotta
                </span>
            </div>
        {% endfor %}
    </div>
{% endif %}