<h2>Opetus- ja kulttuuriministeriö</h2>
<div class="sector">
    <div class="rivi">
        <div class="sector-left">
            Viite
        </div>
        <div class="sector-right">
            {{ muutospyynto.meta | fieldvalue("viite") }}
        </div>
    </div>
    <div class="rivi">
        <div class="sector-left">
            Asia
        </div>
        <div class="cell">
            <div class="otsikko">Ammatillisen peruskoulutuksen järjestämisluvan muutos</div>
            <p>{{ muutospyynto.meta | fieldvalue("saate") }}</p>
            <p>Järjestämisluvan muutosta haetaan {{ muutospyynto.voimassaalkupvm | toDate | date("d.M.yyyy") }}
                alkaen.</p>
            <div class="sector">
                <div class="rivi">
                    <div class="cell">
                        Yhteyshenkilö:
                    </div>
                    <div class="cell">
                        {{ muutospyynto.meta | fieldvalue("nimike") }} {{ muutospyynto.meta | fieldvalue("nimi") }}
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell"></div>
                    <div class="cell">
                        {{ muutospyynto.meta | fieldvalue("puhelin") }}, {{ muutospyynto.meta | fieldvalue("email") }}
                    </div>
                </div>
            </div>
            <div class="otsikko">{{ jarjestaja.nimi | translated(language) }}</div>
            <div class="sector">
                <div class="rivi">
                    <div class="cell">
                        Käyntiosoite:
                    </div>
                    <div class="cell">
                        {{ jarjestaja.kayntiosoite.osoite }}
                        {% if jarjestaja.kayntiosoite.postiKoodi is notBlank or jarjestaja.kayntiosoite.postitoimipaikka is notBlank%}
                            , {{ jarjestaja.kayntiosoite.postiKoodi }} {{ jarjestaja.kayntiosoite.postitoimipaikka }}
                        {% endif %}
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell">
                        Postiosoite:
                    </div>
                    <div class="cell">
                        {{ jarjestaja.postiosoite.osoite }}
                        {% if jarjestaja.postiosoite.postiKoodi is notBlank or jarjestaja.postiosoite.postitoimipaikka is notBlank%}
                        , {{ jarjestaja.postiosoite.postiKoodi }} {{ jarjestaja.postiosoite.postitoimipaikka }}
                        {% endif %}
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell">
                        Email:
                    </div>
                    <div class="cell">
                        {{ jarjestaja.mappedYhteystieto.email }}
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell">
                        Puhelin:
                    </div>
                    <div class="cell">
                        {{ jarjestaja.mappedYhteystieto.numero }}
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell">
                        Web-osoite:
                    </div>
                    <div class="cell">
                        {{ jarjestaja.mappedYhteystieto.www }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sector">
    <div class="rivi">
        <div class="sector-left uppercase">
            Liitteet
        </div>
        <div class="sector-right">
            Ammatillisten tukintojen ja koulutuksen järjestämisluvan muutoshakemus
        </div>
    </div>
    {% for liite in muutospyynto.liitteet %}
        <div class="rivi">
            <div class="sector-left"></div>
            <div class="sector-right">
                {{ liite.nimi }}
            </div>
        </div>
    {% endfor %}
</div>

