<div class="if">
    {% if muutokset is notBlank %}
    <div class="otsikko">
        Tutkintokielet:
    </div>
    <div class="maaraykset sisennys">
        {% for muutos in muutokset %}
        <div class="loop {{ maarays | htmlClass }}">
                    <span class="data">{{ muutos.koodi.koodiarvo }} {{ muutos.koodi.nimi | translated }},
                        {{muutos.tila | lower | capitalize}}:
                    {% if muutos.koodiarvo == "1" %}
                        Suomi
                    {% elseif muutos.koodiarvo == "2" %}
                        Englanti
                    {% elseif muutos.koodiarvo == "4" %}
                        Venäjä
                    {% endif %}
                    </span>
        </div>
        <div class="loop {{ maarays | htmlClass }}">
            {% for teksti in muutos.meta | field("perusteluteksti") %}
            <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>