{% if muutokset is notBlank %}
    <div class="otsikko">
        Laajennettu oppisopimuskoulutuksen järjestämistehtävä:
    </div>

    {% for muutos in muutokset %}
    <div class="maaraykset sisennys">
        <span class="data">
            {{muutos.tila | lower | capitalize}}: {{ muutos.koodi.kuvaus | translated }}
        </span>
        {% set perustelu = muutos.meta | field("perusteluteksti_oppisopimus") %}
        <div class="loop with-counter">
            <h5>Tehtävän tarpeellisuus</h5>
            <span>{{ perustelu | fieldvalue("tarpeellisuus") }}</span>
            <h5>Toiminnaliset edellytykset laajennetun oppisopimus järjestämistehtävän järjestämiseksi</h5>
            <div class="sector">
                <div class="rivi">
                    <div class="sector-left">
                        <span>Henkilöstöresurssit:</span>
                    </div>
                    <div class="cell">
                        <span class="padding20">{{ perustelu | fieldvalue("henkilosto") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="sector-left">
                        <span>Osaaminen:</span>
                    </div>
                    <div class="cell">
                        <span class="padding20">{{ perustelu | fieldvalue("osaaminen") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="sector-left">
                        <span>Sidosryhmäyhteistyö:</span>
                    </div>
                    <div class="cell">
                        <span class="padding20">{{ perustelu | fieldvalue("sidosryhma") }}</span>
                    </div>
                </div>
            </div>
            <h5>Arvio koulutukseen suunnattavista opiskelijavuosista seuraavana kolmena vuotena</h5>
            <div class="sector">
                {% for v in perustelu | field("opiskelija_vuodet") %}
                <div class="rivi">
                    <div class="sector-left">
                        <span>{{ v | fieldvalue("vuosi") }}:</span>
                    </div>
                    <div class="cell">
                        <span>{{ v | fieldvalue("arvo") }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}