{% if muutokset is notBlank %}
    <div class="otsikko">
        Vankilaopetus:
    </div>

    {% for muutos in muutokset %}
    <div class="maaraykset sisennys">
        <span class="data">
            {{muutos.tila | lower | capitalize}}: {{ muutos.koodi.kuvaus | translated }}
        </span>
        {% set perustelu = muutos.meta | field("perusteluteksti_vankila") %}
        <div class="loop with-counter">
            <h5>Tehtävän tarpeellisuus</h5>
            <span>{{ perustelu | fieldvalue("tarpeellisuus") }}</span>
            <h5>Toiminnaliset edellytykset vankilaopetuksen järjestämiseksi</h5>
            <div class="sector">
                <div class="rivi">
                    <div class="cell width30">
                        <span>Henkilöstöresurssit:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("henkilosto") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Osaaminen:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("osaaminen") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Pedagogiset järjestelyt:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("pedagogiset") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Sidosryhmäyhteistyö:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("sidosryhma") }}</span>
                    </div>
                </div>
            </div>
            <h5>Vankilaopetuksen toteuttaminen</h5>
            <div class="sector">
                <div class="rivi">
                    <div class="cell width50">
                        <span>Vankila/t missä opetusta aiotaan järjestää:</span>
                    </div>
                    <div class="cell">
                    {% for vankila in perustelu | field("vankilat") %}
                        {{ vankila | fieldvalue("nimi") }}<br/>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <h5>Arvio koulutukseen suunnattavista opiskelijavuosista seuraavana kolmena vuotena</h5>
            <div class="sector">
                {% for v in perustelu | field("opiskelija_vuodet") %}
                <div class="rivi">
                    <div class="sector-left">
                        <span>{{ v | fieldvalue("vuosi") }}:</span>
                    </div>
                    <div class="cell">
                        <span>{{ v | fieldvalue("arvo") }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}