{% if muutokset is notBlank %}

    <p><b>Yhteistyö liikunta-alan koulutuksen järjestämisessä</b></p>

    {% for muutos in muutokset %}
        <div class="maaraykset">
            <span class="data loop {{ maarays | htmlClass }}">
                {{muutos.tila | lower | capitalize}}: {{ muutos.koodi.kuvaus | translated }}
            </span>
            <div class="loop {{ maarays | htmlClass }}">
                {% for teksti in muutos.meta | field("perusteluteksti") %}
                <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endif %}