{% if muutokset_tyovoimakoulutus is notBlank %}
    <div class="otsikko">
        Työvoimakoulutus:
    </div>

    {% for muutos in muutokset_tyovoimakoulutus %}
    <div class="maaraykset sisennys">
        <span class="data">
            {{muutos.tila | lower | capitalize}}: {{ muutos.koodi.kuvaus | translated }}
        </span>
        {% if muutos.tila == "POISTO" %}
        <div class="loop {{ maarays | htmlClass }}">
            {% for teksti in muutos.meta | field("perusteluteksti") %}
            <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br/>
            {% endfor %}
        </div>
        {% else %}
        {% set perustelu = muutos.meta | field("perusteluteksti_tyovoimakoulutus") %}
        <div class="loop with-counter">
            <h5>Tehtävän tarpeellisuus</h5>
            <span>{{ perustelu | fieldvalue("tarpeellisuus") }}</span>
            <h5>Toiminnaliset edellytykset työvoimakoulutuksen järjestämiseksi</h5>
            <div class="sector">
                <div class="rivi">
                    <div class="cell width30">
                        <span>Henkilöstöresurssit:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("henkilosto") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Osaaminen:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("osaaminen") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Pedagogiset järjestelyt:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("pedagogiset") }}</span>
                    </div>
                </div>
                <div class="rivi">
                    <div class="cell width30">
                        <span>Sidosryhmäyhteistyö:</span>
                    </div>
                    <div class="cell">
                        <span>{{ perustelu | fieldvalue("sidosryhma") }}</span>
                    </div>
                </div>
            </div>
            <h5>Suunnitelma työvoimakoulutuksen toteuttamiseksi</h5>
            <span>{{ perustelu | fieldvalue("suunnitelma") }}</span>
            <h5>ELY-keskusten kanssa suunniteltu yhteistyö</h5>
            <span>
            {% for vankila in perustelu | field("yhteistyo") %}
                {{ vankila | fieldvalue("nimi") }}<br/>
            {% endfor %}
            </span>
            <h5>Arvio koulutukseen suunnattavista opiskelijavuosista seuraavana kolmena vuotena</h5>
            <div class="sector">
                {% for v in perustelu | field("opiskelija_vuodet") %}
                <div class="rivi">
                    <div class="sector-left">
                        <span>{{ v | fieldvalue("vuosi") }}:</span>
                    </div>
                    <div class="cell">
                        <span>{{ v | fieldvalue("arvo") }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}