<div class="if">
    {% if muutokset_atvkoulutus is notBlank %}
    <div class="tietoa">
        Ammatilliseen tehtävään valmistava koulutus:
    </div>
    {% for muutos in muutokset_atvkoulutus %}
    <div class="loop sisennys {{ maarays | htmlClass }}">
        <span class="data">{{muutos.tila | lower | capitalize}}: {{ muutos.koodi.nimi | translated }}</span>
    </div>
    <div class="loop {{ maarays | htmlClass }}">
        {% for teksti in muutos.meta | field("perusteluteksti") %}
                <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br>
                {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</div>