<div class="if">
    {% if muutokset is notBlank %}
        <div class="maaraykset sisennys">
            {% for muutos in muutokset %}
                <span class="data loop {{ maarays | htmlClass }}">{{muutos.tila | lower | capitalize}}: {{ muutos.koodi.nimi | translated | comma }}</span>
                <div class="loop {{ maarays | htmlClass }}">
                    {% for teksti in muutos.meta | field("perusteluteksti") %}
                <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>