<div class="if">
    {% if muutokset_kuljettajakoulutus is notBlank %}
        <div class="otsikko">
            Kuljettajakoulutus:
        </div>
        <div class="maaraykset sisennys">
            {% for muutos in muutokset_kuljettajakoulutus %}
                {% set perustelu = muutos.meta | field("perusteluteksti_kuljetus") %}
                <div class="loop kuljettajakoulutusSelite">
                    <span class="data">{{muutos.tila | lower | capitalize}}:  {{ muutos.koodi.kuvaus | translated }}</span>
                </div>
                {% if muutos.tila == "POISTO" %}
                <div class="loop {{ maarays | htmlClass }}">
                    {% for teksti in muutos.meta | field("perusteluteksti") %}
                    <span class="data cell-wider padding40">{{ teksti | fieldvalue("value")}}</span><br>
                    {% endfor %}
                </div>
                {% else %}
                <div class="loop with-counter">
                    <h5>Tehtävän tarpeellisuus</h5>
                    <span>{{ perustelu | fieldvalue("tarpeellisuus") }}</span>

                    <h5>Onko hakijalla voimassaolevaa Liikenne- ja turvallisuusviraston (Trafi) myötämää lupaa</h5>
                    <span>
                        {% if perustelu | fieldvalue("voimassaoleva") == 'true' %}
                        Kyllä, voimassa {{ perustelu | fieldvalue("voimassaoleva_pvm") }}
                        {% else %}
                        Ei
                        {% endif %}
                    </span>

                    <h5>Suunnitelma ammattipätevyyskoulutuksen järjestämikseksi</h5>
                    <span>{{ perustelu | fieldvalue("suunnitelma_koulutus_toteutus") }}</span>

                    <h5>Ammattipätevyyskoulutuksen järjestämispaikat</h5>
                    <span>{{ perustelu | fieldvalue("suunnitelma_koulutus_paikka") }}</span>

                    <h5>Arvio koulutukseen suunnattavista opiskelijavuosista</h5>
                    <div class="sector">
                        {% for v in perustelu | field("opiskelija_vuodet") %}
                        <div class="rivi">
                            <div class="sector-left">
                                <span>{{ v | fieldvalue("vuosi") }}:</span>
                            </div>
                            <div class="cell">
                                <span>{{ v | fieldvalue("arvo") }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <h5>Opetuksesta vastaavan johtajan kelpoisuus ja työkokemus</h5>
                    <p>Valtioneuvoston asetus 434/2018 10 §</p>

                    {% set johtajat = perustelu | field("johtajat") %}
                    {% include fromContext("hakemus/muutokset_kuljettajakoulutus_osaaminen") with
                        { "osaaminen": johtajat }
                    %}
                    <h5>Opettajien kelpoisuus ja työkokemus</h5>
                    <p>Valtioneuvoston asetus 434/2018 10 §</p>

                    {% set opettajat = perustelu | field("opettajat") %}
                    {% include fromContext("hakemus/muutokset_kuljettajakoulutus_osaaminen") with
                        { "osaaminen": opettajat }
                    %}

                    <h5>Ajoneuvokanta</h5>
                    <div class="sector">
                        <div class="rivi">
                            <div class="cell width50">
                                Linja-autot (kpl)
                            </div>
                            <div class="cell padding20">
                                {{ perustelu | fieldvalue("kanta_linja_auto") }}
                            </div>
                        </div>
                        <div class="rivi">
                            <div class="cell width50">
                                Kuorma-autot (kpl)
                            </div>
                            <div class="cell padding20">
                                {{ perustelu | fieldvalue("kanta_kuorma_auto") }}
                            </div>
                        </div>
                        <div class="rivi">
                            <div class="cell width50">
                                Perävaunut (kpl)
                            </div>
                            <div class="cell padding20">
                                {{ perustelu | fieldvalue("kanta_peravaunu") }}
                            </div>
                        </div>
                    </div>
                    <h5>Muut opetusvälineet</h5>
                    <span>
                        Asetuksen mukaiset opetus- ja havaintovälineet (VnAsetus 434/2018, 11§ 1 ja 2 mom.):
                    </span><br/>
                    <span class="sisennys">
                        {{ perustelu | fieldvalue("valineet_asetus") }}
                    </span>
                    <br/><br/>
                    <span>
                        Muut opetus- ja havaintovälineet:
                    </span><br/>
                    <span class="sisennys">
                        {{ perustelu | fieldvalue("valineet_muut") }}
                    </span>
                    <!--
                    {{ perustelu | fieldvalue("kanta_muut") }}-->

                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>