<div class="if">
    {% if muutokset is notBlank %}
    <div class="otsikko">
        Lisättäväksi haetut tutkinnot :
    </div>
    {% for muutos in muutokset %}
    {% if muutos.tila == "LISAYS" %}
    <div class="loop {{ maarays | htmlClass }}">
        <span class="data cell-wider">{{ muutos.koodi.koodiarvo }} {{ muutos.koodi.nimi | translated }}</span>
    </div>
    <div class="loop {{ maarays | htmlClass }}">
        <span class="data cell-wider sisennys">{{ muutos.meta | fieldvalue("perusteluteksti") }}</span>
    </div>
    {% endif %}
    {% endfor %}

    <div class="otsikko">
        Poistettavaksi haetut tutkinnot :
    </div>
    {% for muutos in muutokset %}
    {% if muutos.tila == "POISTO" %}
    <div class="loop {{ maarays | htmlClass }}">
        <span class="data cell-wider">{{ muutos.koodi.koodiarvo }} {{ muutos.koodi.nimi | translated }}</span>
    </div>
    <div class="loop {{ maarays | htmlClass }}">
        <span class="data cell-wider sisennys">{{ muutos.meta | fieldvalue("perusteluteksti")}}</span>
    </div>
    {% endif %}
    {% endfor %}

    {% endif %}
</div>