{% if muutokset is notBlank %}
    <div class="tietoa">
        {{ otsikko | wording }}:
    </div>
    <div class="maaraykset sisennys2">
        {% for muutos in muutokset %}
            <div class="loop {{ maarays | htmlClass }}">
                <span class="data cell-wide">{{ muutos.koodi.nimi | translated }}</span>
                <span class="cell">
                    <span class="data">{{ "vähintään|enintään" | wording(muutos.isMaaraystyyppi("oikeus")) }}</span>
                    <span class="data">{{ muutos.arvo | number }}</span> opiskelijavuotta
                </span>
            </div>
            <div class="loop {{ maarays | htmlClass }}">
                <span class="data cell-wider padding40">{{ muutos.meta | fieldvalue("perusteluteksti") }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}