{% if muutokset is notBlank %}

    <p><b>Samarbete i ordnandet av utbildning</b></p>

    {% for muutos in muutokset %}
        <div class="maaraykset">
            <span class="data loop {{ maarays | htmlClass }}">
                {{ muutos.meta | fieldvalue("yhteistyösopimus") }}
            </span>
        <div class="loop {{ maarays | htmlClass }}">
            <span class="data cell-wider padding40">{{ muutos.meta | fieldvalue("perusteluteksti") }}</span>
        </div>
    </div>
    {% endfor %}

{% endif %}