<div class="muutosperusteluosio">

  <!-- Koulutusalat -->
  {% if koulutustehtavaMuutos.koulutusalat is notEmpty %}
    <div class="otsikko">4. Koulutusalat, ammatilliset perustutkinnot ja valmentavat koulutukset</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.koulutusalat is notEmpty %}
        {% for koulutus in koulutustehtavaNyt.koulutusalat | toKoulutusVoimassaolevat(language, "tutkinto", "tutkintoa") %}
          {{ koulutus | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for koulutus in koulutustehtavaMuutos.koulutusalat | toKoulutusMuutokset(language) %}
        {{ koulutus | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["koulutukset"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

</div>