<div class="muutosperusteluosio">

  <!-- Opetuskielet -->
  {% if koulutustehtavaMuutos.opetuskielet is notEmpty %}
    <div class="otsikko">1. Koulutuksen järjestäjän opetuskieli</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i>
      {% if koulutustehtavaNyt.opetuskielet is notEmpty %}
        {% for opetuskieli in koulutustehtavaNyt.opetuskielet %}
          {{ opetuskieli.teksti | translated(language) | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for opetuskieli in koulutustehtavaMuutos.opetuskielet %}
        {{ opetuskieli.teksti | translated(language) | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["opetuskieli"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Järjestämiskunnat -->
  {% if koulutustehtavaMuutos.jarjestamiskunnat is notEmpty %}
    <div class="otsikko">2. Koulutuksen järjestämiskunnat</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i>
      {% if koulutustehtavaNyt.jarjestamiskunnat is notEmpty %}
        {% for jarjestamiskunta in koulutustehtavaNyt.jarjestamiskunnat %}
          {{ jarjestamiskunta.teksti | translated(language) | comma(loop) }}
        {% endfor %}</p>
      {% else %}
        Ei lupaa
      {% endif %}
      <p><i>Päätös:</i>
      {% for jarjestamiskunta in koulutustehtavaMuutos.jarjestamiskunnat %}
        {{ jarjestamiskunta.teksti | translated(language) | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
      {% for perustelu in perustelut["järjestämiskunnat"] %}
        {{ perustelu.text | translated(language)}}
      {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Koulutusalat -->
  {% if koulutustehtavaMuutos.koulutusalat is notEmpty %}
    <div class="otsikko">4. Koulutusalat, ammatilliset perustutkinnot ja valmentavat koulutukset</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.koulutusalat is notEmpty %}
        {% for koulutus in koulutustehtavaNyt.koulutusalat | toKoulutusVoimassaolevat(language, "tutkinto", "tutkintoa") %}
          {{ koulutus | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for koulutus in koulutustehtavaMuutos.koulutusalat | toKoulutusMuutokset(language) %}
        {{ koulutus | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["koulutukset"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Eritysopetus -->
  {% if koulutustehtavaMuutos.erityisopetus is notEmpty %}
    <div class="otsikko">5. Erityisopetuksen erityinen koulutustehtävä</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.erityisopetus is notEmpty %}
        {% for eo in koulutustehtavaNyt.erityisopetus %}
          {{ eo.tunniste | translated(language) | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for eo in koulutustehtavaMuutos.erityisopetus %}
        {{ eo.tunniste | translated(language) | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["erityinen koulutustehtävä"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Opiskelijamäärät -->
  {% if koulutustehtavaMuutos.opiskelijamaarat is opiskelijamaaraMuutoksia %}
    <div class="otsikko">6. Oppilaitosmuotoisen koulutuksen vuosiopiskelijamäärä</div>
    <div class="sisalto">
      <p>{% if koulutustehtavaNyt.opiskelijamaarat is notEmpty %}
         <div class="taulukko_opiskelijamaara">
          {% for rivi in koulutustehtavaNyt.opiskelijamaarat %}
            <div class="rivi">
              {% if rivi.tyyppi == 'otsikko' %}
                <div class="solu_levea"><i>Voimassaoleva:</i></div>
                {% for value in rivi.sarakeMuutosDisplayValues %}
                  <div class="solu_kapea_bold">{{ value }}</div>
                {% endfor %}
              {% else %}
                <div class="solu_levea">{{ rivi.otsikko | translated(language) }}</div>
                {% for value in rivi.sarakeMuutosDisplayValues %}
                  <div class="solu_kapea">{{ value }}</div>
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <i>Voimassaoleva:</i> Ei lupaa
      {% endif %}</p>
      <p>
        <div class="taulukko_opiskelijamaara">
          {% for rivi in koulutustehtava.opiskelijamaarat %}
            <div class="rivi">
              {% if rivi.tyyppi == 'otsikko' %}
                <div class="solu_levea"><i>Päätös:</i></div>
                {% for entry in rivi.sarakkeet.entrySet %}
                  <div class="solu_kapea_bold">{{ entry.value }}</div>
                {% endfor % }
              {% else %}
                <div class="solu_levea">{{ rivi.otsikko | translated(language) }}</div>
                {% for value in rivi.sarakeDisplayValues %}
                  <div class="solu_kapea">{{ value }}</div>
                {% endfor % }
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["vuosiopiskelijamäärä"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Vieraskieliset -->
  {% if koulutustehtavaMuutos.vieraskieliset is notEmpty %}
    <div class="otsikko">7. Vieraskielinen koulutus</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.vieraskieliset is notEmpty %}
        {% for vieraskielinen in koulutustehtavaNyt.vieraskieliset | toVieraskielisetMuutokset(language, false) %}
          {{ vieraskielinen | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for vieraskielinen in koulutustehtavaMuutos.vieraskieliset | toVieraskielisetMuutokset(language, true) %}
        {{ vieraskielinen | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["vieraskielinen"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Kokeilut -->
  {% if koulutustehtavaMuutos.kokeilut is notEmpty %}
    <div class="otsikko">8. Kokeilut</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.kokeilut is notEmpty %}
        {% for kokeilu in koulutustehtavaNyt.kokeilut | toKokeiluMuutokset(language) %}
          {{ kokeilu.teksti | translated(language) | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for kokeilu in koulutustehtavaMuutos.kokeilut | toKokeiluMuutokset(language) %}
        {{ kokeilu.teksti | translated(language) | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["kokeilut"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Muut ehdot -->
  {% if koulutustehtavaMuutos.muutEhdot is notEmpty %}
    <div class="otsikko">9. Muut määräykset</div>
    <div class="sisalto">
      <p><i>Voimassaoleva:</i> 
      {% if koulutustehtavaNyt.muutEhdot is notEmpty %}
        {% for muuEhto in koulutustehtavaNyt.muutEhdot %}
          {{ muuEhto.otsikko | translated(language) | comma(loop) }}
        {% endfor %}
      {% else %}
        Ei lupaa
      {% endif %}</p>
      <p><i>Päätös:</i>
      {% for muuEhto in koulutustehtavaMuutos.muutEhdot %}
        {{ muuEhto.otsikko | translated(language) | comma(loop) }}
      {% endfor %}</p>
      <div class="perustelutosio-fi">
        {% for perustelu in perustelut["muut määräykset"] %}
          {{ perustelu.text | translated(language)}}
        {% endfor %}
      </div>
    </div>
  {% endif %}

</div>