
<div class="sector">

  <div class="sector-left">
    Viite
  </div>

  <div class="sector-right">
      <div class="paatoskohtainenTeksti">
        {% for teksti in paatostekstit["viite"] %}
          {{ teksti.text | translated(language)}}
        {% endfor %}
      </div>
  </div>

</div>
Ammatillisen koulutuksen tutkintorakennetta on muutettu 25.6.2016 tehdyllä asetusmuutoksella (443/2016) niin, että 1.8.2017 lukien tekniikan ja liikenteen alalle tulee uusi laaja-alainen media-alan perustutkinto (audiovisuaalisen viestinnän osaamisala, julkaisutuotannon osaamisala, painotuotannon osaamisala), joka korvaa tutkintorakenteessa tällä hetkellä kulttuurialalla olevan audiovisuaalisen viestinnän perustutkinnon ja tekniikan ja liikenteen alalla olevan painoviestinnän perustutkinnon. Audiovisuaalisen viestinnän perustutkinto ja painoviestinnän perustutkinto poistuvat erillisinä tutkintorakenteesta 31.7.2017. Lisäksi kone- ja metallialan perustutkinnon nimi muuttuu 1.8.2017 alkaen tulee voimaan myös muutos, jonka mukaan kone- ja metallialan perustutkinnon nimi muuttuu kone- ja tuotantotekniikan perustutkinnoksi. 

<div class="sector">

  <div class="sector-left">
    Asia
  </div>

  <div class="sector-right">

    <h4>Ammatillisen peruskoulutuksen järjestämislupaan sisältyvän koulutustehtävän muuttaminen</h4>

    <!-- Yleinen johdanto 1 -->
    <p>Koulutuksen järjestäjälle on myönnetty ammatillisesta peruskoulutuksesta annetun lain (630/1998) 8 ja 9 §:n nojalla ammatillisen peruskoulutuksen järjestämislupa {{ paatos.uusiJarjestamislupaPvm | date("dd.MM.yyyy") }} päivätyllä opetus&#45; ja
      kulttuuriministeriön päätöksellä ​{{ paatos.uusiJarjestamislupaDiaari }}. Opetus- ja kulttuuriministeriö on tehnyt koulutuksen järjestämislupaan sisältyvään koulutustehtävään ammatillisen koulutuksen tutkintorakenteen muutoksista aiheutuvia teknisiä muutoksia.
    </p>

    <!-- muutokset ends -->

    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["yleinen johdanto osa 1"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>
    <!-- yleinen johdanto 1 ends -->

    <!-- yleinen johdanto osa 2 -->
    <!-- paatos.kielteinen -->
    {% if paatos.kielteinen %}
    Koulutuksen järjestäjälle {{ paatos.edellinenPaatosPvm | date("dd.MM.yyyy") }} päivätyllä opetus&#45; ja kulttuuriministeriön päätöksellä
    ({{ paatos.edellinenPaatosDiaari }}) määrätty koulutustehtävä pysyy voimassa.
    {% else %}
    <p>Tällä päätöksellä määrättyä ammatillisen peruskoulutuksen koulutustehtävää
        {% if koulutustehtava.kuljettajakoulutus.size > 0 %}
            ja lupaa toimia kuorma&#45; ja linja&#45;autonkuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena
        {% endif %}
      sovelletaan ​{{ koulutustehtava.alkupvm | date("dd.MM.yyyy") }} ​alkaen.
      Ammatillisen peruskoulutuksen koulutustehtävä
        {% if koulutustehtava.kuljettajakoulutus.size > 0 %}
            ja koulutuskeskuslupa ovat liitteinä.
        {% else %}
            on liitteenä.
        {% endif %}
        Tällä päätöksellä korvataan    {{ paatos.edellinenPaatosPvm | date("dd.MM.yyyy") }} päivätyllä opetus&#45; ja kulttuuriministeriön päätöksellä
        ({{ paatos.edellinenPaatosDiaari }}) määrätty koulutustehtävä.
    </p>
    {% endif %}

    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["yleinen johdanto osa 2"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>

    <!-- saadokset -->
    <p>
      <b>Säädökset, joihin päätös perustuu:</b><br/>
      {% if koulutustehtava.kokeilut.size > 0 %}
        Laki ammatillisesta peruskoulutuksesta (630/1998) 9 §:n 2 mom., 23 § (787/2014)<br/>
      {% else %}
        Laki ammatillisesta peruskoulutuksesta (630/1998) 9 §:n 2 mom.<br/>
      {% endif %}
      Laki ammatillisesta peruskoulutuksesta annetun lain 9 §:n väliaikaisesta muuttamisesta (508/2016)<br/>
      Opetus- ja kulttuuriministeriön asetus ammatillisen koulutuksen tutkintorakenteesta annetun opetus- ja kulttuuriministeriön asetuksen liitteen muuttamisesta ja väliaikaisesta muuttamisesta
(443/2016)<br/>
      Laki ammatillisesta aikuiskoulutuksesta (631/1998) 4 §:n 1 mom.<br/>
      {% if koulutustehtava.kuljettajakoulutus.size > 0 %}
        Kuorma&#45; ja linja&#45;auton kuljettajien ammattipätevyydestä annetun lain (273/2007) 10 §
      {% endif %}
    </p>
    <!-- saadokset end -->
    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["säädökset"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>


    <!-- maksu -->
    <b>Maksu:</b><br />
      {% if paatos.isMaksu and (hakemus.isHakemusPvmBeforeVertailuPvm or paatos.isDiaariBefore2016) %}
        1 145  euroa, joka laskutetaan erikseen; opetus&#45; ja kulttuuriministeriön asetus opetus&#45; ja kulttuuriministeriön
        maksullisista suoritteista (263/2012) 2 §
      {% elseif paatos.isMaksu %}
        1 220 euroa, joka laskutetaan erikseen; opetus&#45; ja kulttuuriministeriön asetus opetus&#45; ja kulttuuriministeriön
        maksullisista suoritteista (688/2015) 2 §
      {% else %}
        Maksutta
      {% endif %}
    </p>
    <!-- maksu end -->
    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["maksu"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>


    <!-- muutoksenhaku -->
    <p>
      <b>Muutoksenhaku:</b><br/>
      Tähän päätökseen saa hakea muutosta valittamalla
        {% if hallintooikeus == "hki" %} Helsingin
        {% elseif hallintooikeus == "hml" %} Hämeenlinnan
        {% elseif hallintooikeus == "ita" %} Itä&#45;Suomen
        {% elseif hallintooikeus == "poh" %} Pohjois&#45;Suomen
        {% elseif hallintooikeus == "tku" %} Turun
        {% elseif hallintooikeus == "vsa" %} Vaasan
        {% else %} korkeimpaan
        {% endif %} hallinto&#45;oikeuteen.
      Valitus saadaan tehdä sillä perusteella, että päätös on lain vastainen. Valitusaika on 30 päivää
      tiedoksisaannista. Liitteenä olevasta valitusosoituksesta ilmenee, miten muutosta haettaessa on
      meneteltävä.
    </p>
    <!-- muutoksenhaku -->
    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["muutoksenhaku"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>

    <div class="ministeri">
        <div class="ministeri-left">{{ paatos.ministeriNimike }}</div>
        <div class="ministeri-right">{{ paatos.ministeri }}</div>
    </div>

    <div class="esittelija">
        <div class="esittelija-left">{{ paatos.esittelijaNimike }}</div>
        <div class="esittelija-right">{{ paatos.esittelija }}</div>
    </div>

  </div>
</div>

<div class="sector">

  <div class="sector-left">
    Liitteet
  </div>

  <div class="sector-right">
    <ul class="none">

        <li>Ammatillisen peruskoulutuksen koulutustehtävä</li>
        {% if koulutustehtava.kuljettajakoulutus.size > 0 %}
        <li>Lupa toimia kuorma&#45; ja linja&#45;autonkuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena</li>
        {% endif %}
        {% if paatos.isMaksu %}
          {% if "01.01.2016" is dateGT(paatos.paatospvm) %}
          <li>Maksua koskeva oikaisuvaatimusosoitus 10/091/2012</li>
          {% else %}
          <li>Maksua koskeva oikaisuvaatimusosoitus 15/091/2016</li>
          {% endif %}
        {% endif %}
        <li>
        {% if hallintooikeus == "hki" %}
            {% if language == "sv" %}
                Besvärsanvisning till Helsingfors förvaltningsdomstol 1/091/2016
            {% else %}
                Valitusosoitus Helsingin hallinto&#45;oikeuteen 1/091/2016
            {% endif %}
        {% elseif hallintooikeus == "hml" %}
            {% if language == "sv" %}
                Besvärsanvisning till Tavastehus förvaltningsdomstol 2/091/2016
            {% else %}
                Valitusosoitus Hämeenlinnan hallinto&#45;oikeuteen 2/091/2016
            {% endif %}
        {% elseif hallintooikeus == "ita" %}
            {% if language == "sv" %}
                    Besvärsanvisning till Östra Finlands förvaltningsdomstol 3/091/2016
            {% else %}
                    Valitusosoitus Itä&#45;Suomen hallinto&#45;oikeuteen 3/091/2016
            {% endif %}
        {% elseif hallintooikeus == "poh" %}
            {% if language == "sv" %}
                    Besvärsanvisning till Norra Finlands förvaltningsdomstol 4/091/2016
            {% else %}
                    Valitusosoitus Pohjois&#45;Suomen hallinto&#45;oikeuteen 4/091/2016
            {% endif %}
        {% elseif hallintooikeus == "tku" %}
            {% if language == "sv" %}
                    Besvärsanvisning till Åbo förvaltningsdomstol 5/091/2016
            {% else %}
                    Valitusosoitus Turun hallinto&#45;oikeuteen 5/091/2016
            {% endif %}
        {% elseif hallintooikeus == "vsa" %}
            {% if language == "sv" %}
                    Besvärsanvisning till Vasa förvaltningsdomstol 6/091/2016
            {% else %}
                    Valitusosoitus Vaasan hallinto&#45;oikeuteen 6/091/2016
            {% endif %}
        {% else %}
            Valitusosoitus 1/091/2015
        {% endif %}
      </li>

    </ul>

    <div class="paatoskohtainenTeksti">
      {% for teksti in paatostekstit["liitteet"] %}
      {{ teksti.text | translated(language)}}
      {% endfor %}
    </div>

  </div>

</div>


<div class="sector">

  <div class="sector-left">
    Tiedoksi
  </div>

  <div class="sector-right">
    <ul class="none">

      <li>Opetushallitus</li>
      <li>Opetushallitus/Koulutustoimialan palvelut</li>
      <li>Tilastokeskus</li>

      {% for AVIalue in koulutustehtava.jarjestamiskuntienAVIalueet %}

         <li>{{ AVIalue.teksti | translated(language) }}</li>
      {% endfor %}

      {% if koulutustehtava.kuljettajakoulutus.size > 0 %}
        <li>Trafi</li>
      {% endif %}
      {% for teksti in paatostekstit["tiedoksi"] %}
        <li>{{ teksti.text | translated(language)}}</li>
      {% endfor %}
    </ul>

  </div>

</div>
