
<div class="sector">
    <div class="sector-left">Viite</div>
    <div class="sector-right">

    </div>
</div>

<div class="sector">
    <div class="sector-left">Asia</div>
    <div class="sector-right">
        <h4>Ammatillisen koulutuksen järjestämislupa</h4>
        <p>
            Koulutuksen järjestäjälle on myönnetty ammatillisesta koulutuksesta annetun lain (mikä laki ja mitkä pykälät?!)
            nojalla ammatillisen koulutuksen järjestämislupa <span class="data">{{ lupa.paatospvm | date("dd.MM.yyyy") }}</span> päivätyllä opetus-
            ja kulttuuriministeriön päätöksellä <span class="data">{{ lupa.diaarinumero }}</span>.
        </p>
        <div class="paatoskohtainenTeksti">
            <span class="data">{{ lupa.meta | field("paatosteksti") | translated }}</span>
        </div>
        <p>
            Tämän päätöksen määräyksiä sovelletaan <span class="data">{{ lupa.alkupvm | date("dd.MM.yyyy") }}</span> alkaen.
        </p>
        <p>
            <b>Säädökset, joihin päätös perustuu:</b><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tagi_kokeilu") is notBlank %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% else %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% endif %}
            </span>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tutkinnotjakoulutukset") | koodisto("kuljettajakoulutus") is notBlank %}
                    Kuorma- ja linja-auton kuljettajien ammattipätevyydestä <span class="todo">Mikä laki ja mitkä pykälät?!</span>
                {% endif %}
            </span>
        </p>
        <p>
            {% include fromDefault("maksu") %}
        </p>
        <p>
            <b>Muutoksenhaku:</b><br/>
            <span class="todo">TODO: refaktorointi</span>
            Tähän päätökseen saa hakea muutosta valittamalla
            <span class="todo">
            {% if hallintooikeus == "hki" %} Helsingin
            {% elseif hallintooikeus == "hml" %} Hämeenlinnan
            {% elseif hallintooikeus == "ita" %} Itä-Suomen
            {% elseif hallintooikeus == "poh" %} Pohjois-Suomen
            {% elseif hallintooikeus == "tku" %} Turun
            {% elseif hallintooikeus == "vsa" %} Vaasan
            {% else %} korkeimpaan
            {% endif %}
            </span>
            hallinto-oikeuteen.
            Valitus saadaan tehdä sillä perusteella, että päätös on lain vastainen. Valitusaika on 30 päivää
            tiedoksisaannista. Liitteenä olevasta valitusosoituksesta ilmenee, miten muutosta haettaessa on
            meneteltävä.
        </p>

        <div class="ministeri">
            <div class="ministeri-left">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimeke") }}</span>
            </div>
            <div class="ministeri-right">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimi") }}</span>
            </div>
        </div>
        <div class="esittelija">
            <div class="esittelija-left">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimeke") }}</span>
            </div>
            <div class="esittelija-right">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimi") }}</span>
            </div>
        </div>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Liitteet</div>
    <div class="sector-right">
        <ul class="none">
            {% if lupa.maaraykset | sallittuKohde("tutkinnotjakoulutukset") | koodisto("kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Lupa toimia kuorma- ja linja-autonkuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena</span>
                </li>
            {% endif %}
            {% if lupa.maksu %}
                <li>
                    <span class="if">Maksua koskeva oikaisuvaatimusosoitus 15/091/2016</span>
                </li>
            {% endif %}
            <li>
                <span class="todo">TODO: Valitusosoitus (oikean alueen mukainen)</span>
            </li>
        </ul>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Tiedoksi</div>
    <div class="sector-right">
        <ul class="none">
            <li>Opetushallitus</li>
            <li>Opetushallitus/Koulutustoimialan palvelut</li>
            <li>Tilastokeskus</li>
            {% if lupa.maaraykset | sallittuKohde("tagi_kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Trafi</span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="maarayksetPage">
    <h3>TUTKINTOJEN JA KOULUTUKSEN JÄRJESTÄMISLUPA</h3>

    <!-- Tutkinnot ja koulutukset -->
    <div class="otsikko">1) Tutkinnot ja koulutukset</div>
    <div class="sisalto">
        <div class="tietoa">
            Koulutuksen järjestäjällä on oikeus myöntää seuraavia tutkintoja ja antaa niihin tutkintokoulutusta:
        </div>

        <!-- TODO: Velvollisuus ja rajoitus sisennetään oikeuksien alle -->

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Yleissivistävä koulutus",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_00"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Kasvatusalat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_01"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Humanistiset ja taidealat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_02"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Yhteiskunnalliset alat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_03"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Kauppa, hallinto ja oikeustieteet",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_04"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Luonnontieteet",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_05"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Tietojenkäsittely ja tietoliikenne (ICT)",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_06"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Tekniikan alat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_07"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Maa- ja metsätalousalat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_08"])
            }
        %}

        {% include fromDefault("maaraykset_alat") with
            { "otsikko": "Terveys- ja hyvinvointialat",
              "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:isced2011koulutusalataso1_09"])
            }
        %}

        <div class="tietoa">
            Koulutuksen järjestäjä voi järjestää myös em. tutkintoihin liittyvää ammatillisesta koulutuksesta annetun lain
            8 §:n 1 kohdassa tarkoitettua ammatillista osaamista syventävää tai täydentävää koulutusta.
        </div>

        <!-- VALMA ja TELMA -->
        {% include fromDefault("maaraykset_valmatelma") with
            { "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_5|koulutustyyppi_18|koulutustyyppi_19"]) }
        %}

        <!-- Ammatilliseen tehtävään valmistava koulutus -->
        {% include fromDefault("maaraykset_atvkoulutus") with
            { "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:ammatilliseentehtavaanvalmistavakoulutus"]) }
        %}

        <!-- Kuljettajakoulutus -->
        {% include fromDefault("maaraykset_kuljettajakoulutus") with
            { "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:kuljettajakoulutus"]) }
        %}

        <!-- Työvoimakoulutus -->
        {% include fromDefault("maaraykset_tyovoimakoulutus") with
            { "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:oivatyovoimakoulutus"]) }
        %}
    </div>

    <!-- Opetus- ja tutkintokieli -->
    <div class="otsikko">2) Opetus- ja tutkintokieli</div>
    <div class="sisalto">

        <!-- Oppilaitoksen opetuskieli -->
        {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:opetusjatutkintokieli", "koodisto:oppilaitoksenopetuskieli"]) is notBlank %}
            <div class="maaraykset">
                Koulutuksen järjestäjän on annettava opetusta seuraavalla opetuskielellä/ seuraavilla opetuskielillä:
                <div class="sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:opetusjatutkintokieli", "koodisto:oppilaitoksenopetuskieli"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- TODO -->

        <!-- muut opetuskielet -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite|oikeus", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) is notBlank %}
                <div class="tietoa">
                    Lisäksi seuraavat tehtävät:
                </div>
                <div class="maaraykset sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite|oikeus", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Rajoitukset -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) is notBlank %}
                <div class="maaraykset">
                    Rajoitukset:
                </div>
                <div class="maaraykset sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Toiminta-alue -->
    <div class="otsikko">3) Toiminta-alue</div>
    <div class="sisalto if">
        {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue"]) is notBlank %}
            <div class="tietoa">
                Koulutuksen järjestäjällä on velvollisuus järjestäjää tutkintoja ja koulutusta ensisijaisesti seuraavan alueen/ seuraavien alueiden osaamis- ja koulutustarpeeseen:
            </div>
            <div class="maaraykset sisennys">
                <!-- Maakunnat -->
                {% include fromDefault("maaraykset_toimintaalue") with
                    { "maaraykset": lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue", "koodisto:maakunta"]) }
                %}
                <!-- Kunnat -->
                {% include fromDefault("maaraykset_toimintaalue") with
                    { "maaraykset": lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue", "koodisto:kunta"]) }
                %}
            </div>
            <div class="tietoa">
                Tutkintoja ja koulutusta saa lisäksi järjestää Ahvenanmaan maakuntaa lukuun ottamatta myös muualla Suomessa.
            </div>
        {% else %}
            <div class="tietoa">
                Tutkintoja ja koulutusta saa järjestää Suomessa Ahvenanmaan maakuntaa lukuun ottamatta.
            </div>
        {% endif %}
    </div>

    <!-- Opiskelijavuodet -->
    <div class="otsikko">4) Opiskelijavuodet</div>
    <div class="sisalto">

        <!-- Koulutussektori opiskelijavuosien vähimmäis/enimmäismäärä -->
        {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus|rajoite", "kohde:opiskelijavuodet", "koodisto:koulutussektori"]) %}
            <div class="maaraykset loop {{ maarays.tyyppi }}">
                Opiskelijavuosien
                <span class="if">
                    {% if maarays.isMaaraystyyppi("oikeus") %} vähimmäismäärä: {% else %} enimmäismäärä: {% endif %}
                </span>
                <span class="data">{{ maarays.arvo }}</span>
            </div>
        {% endfor %}

        <!-- Muut opiskelijavuosien vähimmäis/enimmäismäärä -->
        {% if lupa.maaraykset | maaraysFilter(["tyyppi:oikeus|rajoite", "kohde:opiskelijavuodet", "koodisto:~koulutussektori"]) is notBlank %}
            <div class="tietoa sisennys">
                Opiskelijavuosia koskevat rajoitukset:
            </div>
            <!-- Rajoitteet: enintään -->
            {% include fromDefault("maaraykset_opiskelijavuosirajoitukset") with
                { "otsikko": "Seur. tutkintoa/tutkintoja tai koulutusta koskevien opiskelijavuosien määrä saa olla:",
                  "maaraykset": lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:opiskelijavuodet", "koodisto:~koulutussektori"])
                }
            %}
            <!-- Oikeudet: vähintään -->
            {% include fromDefault("maaraykset_opiskelijavuosirajoitukset") with
                { "otsikko": "Seur. tutkintoa/tutkintoja tai koulutusta koskevien opiskelijavuosien tulee olla:",
                  "maaraykset": lupa.maaraykset | maaraysFilter(["tyyppi:oikeus", "kohde:opiskelijavuodet", "koodisto:~koulutussektori"])
                }
            %}
        {% endif %}
    </div>

    <!-- Muut -->
    <div class="otsikko">5) Muut oikeudet, velvollisuudet, ehdot ja tehtävät</div>
    <div class="sisalto">
        {% include fromDefault("maaraykset_muut") with
            { "maaraykset": lupa.maaraykset | maaraysFilter(["kohde:muut", "koodisto:oivamuutoikeudetvelvollisuudetehdotjatehtavat"]) }
        %}
    </div>
</div>