{% if koulutustehtava.kuljettajakoulutus.size > 0 %}
  <div id="kuljettajakoulutusPage">

    <h4>Lupa toimia kuorma&#45; ja linja&#45;auton kuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena</h4>

    <div class="liitteenAlku">
      Koulutuksen järjestäjä: {{ koulutustehtava.jarjestajaNimi | translated(language) }} ({{ koulutustehtava.jarjestajaYtunnus}})<br/>
      Lupaa sovelletaan {{ paatos.alkupvm | date("dd.MM.yyyy") }} alkaen.
    </div>

    {% for kuljettajaKoulutus in koulutustehtava.kuljettajakoulutus %}

      <div class="kuljettajakoulutusOtsikko">
        {{ kuljettajaKoulutus.otsikko | translated(language) }}
      </div>

      <div class="kuljettajakoulutusSelite">
        {{ kuljettajaKoulutus.selite | translated(language) | raw }}
      </div>

    {% endfor %}

  </div>
{% endif %}
