
<div class="sector">

  <div class="sector-left">
    Viite
  </div>

  <div class="sector-right">
    {% if hakemus.exists  %}
      Hakemus ammatillisen peruskoulutuksen järjestämislupaan sisältyvän koulutustehtävän muuttamiseksi
      {{ hakemus.pvm | date("dd.MM.yyyy") }}, {{ paatos.diaari }}
    {% else %}
      <div class="paatoskohtainenTeksti">
        {% for teksti in paatostekstit["viite"] %}
          {{ teksti | translated(language)}}
        {% endfor %}

      </div>
    {% endif %}
  </div>

</div>


<div class="sector">

  <div class="sector-left">
    Asia
  </div>

  <div class="sector-right">

    <h4>Ammatillisen peruskoulutuksen järjestämislupaa koskevan päätöksen tekninen uudistaminen</h4>

    <!-- Yleinen johdanto 1 -->
    <p>Koulutuksen järjestäjälle on myönnetty ammatillisesta perusopetuksesta annetun lain (630/1998) 8 ja 9 §:n nojalla ammatillisen peruskoulutuksen järjestämislupa {{ paatos.uusiJarjestamislupaPvm | date("dd.MM.yyyy") }} päivätyllä opetus&#45; ja
      kulttuuriministeriön päätöksellä ​{{ paatos.uusiJarjestamislupaDiaari }}.
      {% if metadata.johdantoVALMA == "true" %}
        Tällä päätöksellä korvataan {{ paatos.edellisenPaatoksenedellinenPaatosPvm | date("dd.MM.yyyy") }}  ja
		{{ paatos.edellinenPaatosPvm | date("dd.MM.yyyy") }} päivätyillä opetus&#45; ja kulttuuriministeriön päätöksillä (​​​{{ paatos.edellisenPaatoksenedellinenPaatosDiaari }} ja {{ paatos.edellinenPaatosDiaari }})
        määrätty koulutustehtävä.
      {% endif %}
      {% if metadata.johdantoVALMA != "true" %}
        Tällä päätöksellä korvataan {{ paatos.edellinenPaatosPvm | date("dd.MM.yyyy") }}
        päivätyllä opetus&#45; ja kulttuuriministeriön päätöksellä (​​{{ paatos.edellinenPaatosDiaari }}) määrätty koulutustehtävä.
      {% endif %}
    </p>
    <!-- yleinen johdanto 1 ends -->

    <!-- muutokset -->

    <!-- TODO: osioiden rendauksista makrot -->

    <h2>Muutokset tässä</h2>

    <br/>

    <hr/>

    <div class="otsikko">
      1. Koulutuksen järjestäjän opetuskieli
    </div>

     <i>Haettu muutos</i>

    <!-- Muutokset + tai - suhteessa voimassaolevaan -->

    <div class="sisalto">
      {% for opetuskieli in koulutustehtavaHaettuMuutos.opetuskielet %}
      {{ opetuskieli.teksti | translated(language) }}{% if loop.length-loop.index > 1 %}, {% endif %}
      {% endfor %}
    </div>


    <i>Päätös</i>

    <!-- Muutokset + tai -  suhteessa voimassaolevaan -->

    <div class="sisalto">
      {% for opetuskieli in koulutustehtavaMuutos.opetuskielet %}
      {{ opetuskieli.teksti | translated(language) }}{% if loop.length-loop.index > 1 %}, {% endif %}
      {% endfor %}
    </div>



    <p/>
    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>


    <div class="otsikko">
      2. Koulutuksen järjestämiskunnat
    </div>

    <i>Haettu muutos</i>


    <div class="sisalto">
      {% for jarjestamiskunta in koulutustehtavaHaettuMuutos.jarjestamiskunnat | sortByLanguage(language) %}
      {{ jarjestamiskunta.teksti | translated(language)}}{% if loop.length-loop.index > 1 %}, {% endif %}
      {% endfor %}
    </div>

    <i>Päätös</i>


    <div class="sisalto">
      {% for jarjestamiskunta in koulutustehtavaMuutos.jarjestamiskunnat | sortByLanguage(language) %}
      {{ jarjestamiskunta.teksti | translated(language)}}{% if loop.length-loop.index > 1 %}, {% endif %}
      {% endfor %}
    </div>


    <p/>
    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>



    <div class="otsikko">
      4. Koulutusalat, ammatilliset perustutkinnot ja valmentavat koulutukset
    </div>

    <i>Haettu muutos</i>

    <div class="sisalto">
      <p>Koulutusta voidaan järjestää seuraavilla koulutusaloilla, tutkinnoissa ja osaamisaloilla:</p>

      {% for koulutusala in koulutustehtavaHaettuMuutos.koulutusalat %}
      <div class="koulutusala">
        <div class="koulutusala-otsikko">
          {{ koulutusala.id }} {{ koulutusala.teksti | translated(language) }}
          {% if koulutusala.opetuskieli is null or koulutusala.opetuskieli.koodi equals koululang  %} {% else %}
          *
          {% endif %}
        </div>
        {% for koulutus in koulutusala.children %}
        <div class="koulutus">
          {{ koulutus.id }} {{ koulutus.teksti | translated(language)}}

          {% for osaamisala in koulutus.children %}
          <div class="osaamisala">
            {{ osaamisala.id }} {{ osaamisala.teksti | translated(language)}}
          </div>
          {% endfor %}

        </div>
        {% endfor %}

      </div>
      {% endfor %}

      {% for koulutusala in koulutustehtavaHaettuMuutos.koulutusalat %}
      {% if koulutusala.opetuskieli is null or koulutusala.opetuskieli.koodi equals koululang  %} {% elseif printed != "true" %}
      {% if koululang equals "fi" %}
      * ) koulutusta voidaan järjestää myös ruotsinkielisenä.
      {% endif %}
      {% if koululang equals "sv" %}
      * ) koulutusta voidaan järjestää myös suomenkielisenä.
      {% endif %}
      {% set printed = "true" %}
      {% endif %}
      {% endfor %}
    </div>


    <i>Päätös</i>

    <div class="sisalto">
      <p>Koulutusta voidaan järjestää seuraavilla koulutusaloilla, tutkinnoissa ja osaamisaloilla:</p>

      {% for koulutusala in koulutustehtavaMuutos.koulutusalat %}
      <div class="koulutusala">
        <div class="koulutusala-otsikko">
          {{ koulutusala.id }} {{ koulutusala.teksti | translated(language) }}
          {% if koulutusala.opetuskieli is null or koulutusala.opetuskieli.koodi equals koululang  %} {% else %}
          *
          {% endif %}
        </div>
        {% for koulutus in koulutusala.children %}
        <div class="koulutus">
          {{ koulutus.id }} {{ koulutus.teksti | translated(language)}}

          {% for osaamisala in koulutus.children %}
          <div class="osaamisala">
            {{ osaamisala.id }} {{ osaamisala.teksti | translated(language)}}
          </div>
          {% endfor %}

        </div>
        {% endfor %}

      </div>
      {% endfor %}

      {% for koulutusala in koulutustehtavaMuutos.koulutusalat %}
      {% if koulutusala.opetuskieli is null or koulutusala.opetuskieli.koodi equals koululang  %} {% elseif printed != "true" %}
      {% if koululang equals "fi" %}
      * ) koulutusta voidaan järjestää myös ruotsinkielisenä.
      {% endif %}
      {% if koululang equals "sv" %}
      * ) koulutusta voidaan järjestää myös suomenkielisenä.
      {% endif %}
      {% set printed = "true" %}
      {% endif %}
      {% endfor %}
    </div>

<!-- TODO: Miten valma ja telma tässä -->

    <p/>
    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>



    <div class="otsikko">
      5. Erityisopetuksen erityinen koulutustehtävä
    </div>

    <i>Haettu muutos</i>


    <div class="sisalto">
      {% if koulutustehtavaHaettuMuutos.erityisopetus.size > 0 %}
      <p>Koulutuksen järjestäjän erityisopetuksen erityiseen koulutustehtävään sisältyy:</p>

      <ul class="disc">
        {% for opetus in koulutustehtava.erityisopetus %}
        {% if opetus.koodi == "TUTKINTOONVALMISTAVA" %}
        <li>tutkintoon johtava/valmistava koulutus</li>
        {% endif %}
        {% if opetus.koodi == "VALMA" %}
        <li>ammatilliseen peruskoulutukseen valmentava koulutus (VALMA)</li>
        {% endif %}
        {% if opetus.koodi == "TELMA" %}
        <li>työhön ja itsenäiseen elämään valmentava koulutus (TELMA)</li>
        {% endif %}
        {% if opetus.koodi == "KEHITTAMISOHJAUSTUKI" %}
        <li>erityisopetukseen liittyvät kehittämis­, ohjaus­ ja tukitehtävät</li>
        {% endif %}
        {% endfor %}
      </ul>

      {% else %}
      Ei lupaa
      {% endif %}
    </div>



    <i>Päätös</i>


    <div class="sisalto">
      {% if koulutustehtavaMuutos.erityisopetus.size > 0 %}
      <p>Koulutuksen järjestäjän erityisopetuksen erityiseen koulutustehtävään sisältyy:</p>

      <ul class="disc">
        {% for opetus in koulutustehtava.erityisopetus %}
        {% if opetus.koodi == "TUTKINTOONVALMISTAVA" %}
        <li>tutkintoon johtava/valmistava koulutus</li>
        {% endif %}
        {% if opetus.koodi == "VALMA" %}
        <li>ammatilliseen peruskoulutukseen valmentava koulutus (VALMA)</li>
        {% endif %}
        {% if opetus.koodi == "TELMA" %}
        <li>työhön ja itsenäiseen elämään valmentava koulutus (TELMA)</li>
        {% endif %}
        {% if opetus.koodi == "KEHITTAMISOHJAUSTUKI" %}
        <li>erityisopetukseen liittyvät kehittämis­, ohjaus­ ja tukitehtävät</li>
        {% endif %}
        {% endfor %}
      </ul>

      {% else %}
      Ei lupaa
      {% endif %}
    </div>





    <p/>
    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>


    <div class="otsikko">
      6. Oppilaitosmuotoisen koulutuksen vuosiopiskelijamäärä
    </div>


    <i>Haettu muutos</i>

    <div class="sisalto">

      <div class="taulukko_opiskelijamaara">
        {% for rivi in koulutustehtavaHaettuMuutos.opiskelijamaarat %}

        <div class="rivi">
          {% if rivi.tyyppi == 'otsikko' %}
          <div class="solu_levea">{{ rivi.otsikko | translated(language)}}</div>
          {% for entry in rivi.sarakkeet.entrySet %}
          <div class="solu_kapea_bold">{{ entry.value }}</div>
          {% endfor %}
          {% else %}
          <div class="solu_levea">{{ rivi.otsikko | translated(language) }}</div>
          {% for entry in rivi.sarakkeet.entrySet %}
          <div class="solu_kapea">{{ entry.value }}</div>
          {% endfor %}
          {% endif %}
        </div>
        {% endfor %}
      </div>

    </div>




    <i>Päätös</i>


    <!--  arvo ( muutos )  -- 8436 ( +10 )   -->


    <div class="sisalto">

      <div class="taulukko_opiskelijamaara">
        {% for rivi in koulutustehtavaMuutos.opiskelijamaarat %}

        <div class="rivi">
          {% if rivi.tyyppi == 'otsikko' %}
          <div class="solu_levea">{{ rivi.otsikko | translated(language)}}</div>
          {% for entry in rivi.sarakkeet.entrySet %}
          <div class="solu_kapea_bold">{{ entry.value }}</div>
          {% endfor %}
          {% else %}
          <div class="solu_levea">{{ rivi.otsikko | translated(language) }}</div>
          {% for entry in rivi.sarakkeet.entrySet %}
          <div class="solu_kapea">{{ entry.value }}</div>
          {% endfor %}
          {% endif %}
        </div>
        {% endfor %}
      </div>

    </div>


    <p/>
    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>




    <div class="otsikko">
      7. Vieraskielinen koulutus
    </div>

    <i>Haettu muutos</i>

    <div class="sisalto">

      {%  if koulutustehtavaHaettuMuutos.vieraskieliset.size > 0  %}

      <p>Vieraskielisellä koulutuksella tarkoitetaan muuta kuin suomen­ tai ruotsinkielistä
        koulutusta. Vieraskielisellä koulutuksella ei tarkoiteta kieliopintoja. Tutkinto tai koulutus
        katsotaan vieraskieliseksi, mikäli opetus toteutetaan kokonaan tai pääosin (yli 50 %)
        muulla kuin koulutuksen järjestäjän opetuskielellä.</p>


      <p>Koulutuksen järjestäjä voi järjestää vieraskielisenä seuraavia koulutuksia:</p>


      {% for koulutusala in koulutustehtava.vieraskieliset %}
      <div class="koulutusala">

        {{ koulutusala.id }} {{ koulutusala.teksti | translated(language) }}

        {% for koulutus in koulutusala.children %}
        <div class="koulutus">
          {{ koulutus.id }} {{ koulutus.teksti | translated(language)}}
          {% for vk in koulutus.vieraskielet %} ({{ vk.kieli }})
          {% if koulutus.teksti is hasTranslation(vk.kieli) %}
          ({{ koulutus.teksti | translated(vk.kieli)}} )
          {% endif %}
          {% endfor %}

        </div>
        {% endfor %}

      </div>
      {% endfor %}
      {% else %}
      Ei lupaa
      {% endif %}

      </p>


    </div>


    <i>Päätös</i>

    <div class="sisalto">

      {%  if koulutustehtavaMuutos.vieraskieliset.size > 0  %}

      <p>Vieraskielisellä koulutuksella tarkoitetaan muuta kuin suomen­ tai ruotsinkielistä
        koulutusta. Vieraskielisellä koulutuksella ei tarkoiteta kieliopintoja. Tutkinto tai koulutus
        katsotaan vieraskieliseksi, mikäli opetus toteutetaan kokonaan tai pääosin (yli 50 %)
        muulla kuin koulutuksen järjestäjän opetuskielellä.</p>


      <p>Koulutuksen järjestäjä voi järjestää vieraskielisenä seuraavia koulutuksia:</p>


      {% for koulutusala in koulutustehtava.vieraskieliset %}
      <div class="koulutusala">

        {{ koulutusala.id }} {{ koulutusala.teksti | translated(language) }}

        {% for koulutus in koulutusala.children %}
        <div class="koulutus">
          {{ koulutus.id }} {{ koulutus.teksti | translated(language)}}
          {% for vk in koulutus.vieraskielet %} ({{ vk.kieli }})
          {% if koulutus.teksti is hasTranslation(vk.kieli) %}
          ({{ koulutus.teksti | translated(vk.kieli)}} )
          {% endif %}
          {% endfor %}

        </div>
        {% endfor %}

      </div>
      {% endfor %}
      {% else %}
      Ei lupaa
      {% endif %}

      </p>


    </div>

    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>



    <div class="otsikko">
      8. Kokeilut
    </div>

    <!-- pelkästään kokeilujen otsikot + / - , allekkain-->


          <!-- TODO. kokeilut jotka eivät ole tutkintorakenteeseen liittyviä -->


        <i>Perustelut</i>
        <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

        <p/>


    <div class="otsikko">
      9. Muut määräykset
    </div>

    <!-- pelkät otsikot -->

    <i>Haettu muutos</i>

    <div class="sisalto">

      {% for muutMaaraykset in koulutustehtavaHaettuMuutos.muutEhdot%}

      <div class="muutMaarayksetOtsikko">
        {{ muutMaaraykset.otsikko | translated(language) }}
      </div>

      <div class="muutMaarayksetSelite">
        {{ muutMaaraykset.selite | translated(language) }}
      </div>

      {% endfor %}

    </div>



    <i>Päätös</i>

    <div class="sisalto">

      {% for muutMaaraykset in koulutustehtavaMuutos.muutEhdot%}

      <div class="muutMaarayksetOtsikko">
        {{ muutMaaraykset.otsikko | translated(language) }}
      </div>

      <div class="muutMaarayksetSelite">
        {{ muutMaaraykset.selite | translated(language) }}
      </div>

      {% endfor %}

    </div>


    <i>Perustelut</i>
    <!-- TODO  mihin laitetaan päätöskohtaisissa teksteissä? -->

    <p/>



    <hr/>


</div>




</div>
